/*** Global Styles ***/

body {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 22px;
  text-align: center;
  color: seashell;
  background-color: black;
  margin: 0;
  opacity: 0.9;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.primary {
  width: 1200px;
  padding-top: 69px;
  margin: auto;
}

/*** Header Styles ***/

header {
  width: 100%;
  height: 69px;
  position: fixed;
  align-items: center;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 10px;
}

nav a {
  color: seashell;
  text-decoration: underline;
  padding-right: 20px;
}

/*** Mission Section Styles ***/

#mission {
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  padding-top: 50px;
}

#mission-band {
  margin: auto;
  width: 100%;
  background-color: black;
}

/*** Featured Content Styles ***/

#featured {
  height: 700px;
  width: 1000px;
  margin:auto;
  padding-top: 69px;
}

.product {
  padding: 2px;
}

.product img {
  height: 200px;
  width: 300px;
  margin-right: 20px;
}

/*** Location Content Styles ***/

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 69px;
}

#locations h2 {
  padding-bottom: 15px;
}

.address {
  background-color: black;
  width: 280px;
  margin: 0 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  opacity: 1.0;
}

/* Contact Secton Styles  */

#contact {
  height: 200px;
}

/* Footer Styles */

footer {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 20px;
  }
