/*** Global Styles ***/

body,
h1,
ul {
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: skyblue;
  opacity: 0.9;
  /* width: 1200px; */
  text-align: center;
}

/* nav span {
  display: block;
  padding: 20px 10px;
} */

nav {
  text-align: right;
  flex-grow: 1;
  /* flex-flow: row wrap; */
}

nav a {
  color: seashell;
  text-decoration: underline;
  padding: 20px 10px;
}

nav li {
  list-style: none;
}

/*** Header Styles ***/

header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  /* position: fixed; */
  z-index: 1;
  /* width: 1200px; */
  height: 69px;
  /* border-bottom: 1px solid seashell; */
  border: 1px solid black;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}


/*** Hero Style ***/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 700px;
  border: 1px solid black;
  margin-top: 10px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

/*** Featured Content Styles ***/

.featured {
  border: 1px solid black;
  margin-top: 10px;
}

/*** Location Content Styles ***/

.locations {
  border: 1px solid black;
  margin-top: 10px;
}

/*** Footer Styles ***/

.footer {
  border: 1px solid black;
  margin-top: 10px;
}
